@model Possible.MessageWeb.Models.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "needs-validation", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Manage account</h4>
    <hr />
    <div class="row">

        <div class="col-md-8">
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.HideMeFromList, new { @class = "control-label" })
                @Html.CheckBoxFor(m => m.HideMeFromList, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update" />
            </div>
        </div>
        <div class="col-md-4">
            <section>
                <h4>Note</h4>
                <p>Check the box if you don't want to be contacted</p>
            </section>
        </div>
    </div>
}