@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p class="lead">@ViewBag.Message</p>
    </div>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>