<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        @Html.ActionLink("MessageWeb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "nav-link" })
    </li>
    @if (Request.IsAuthenticated)
    {
    <li class="nav-item">
        @Html.ActionLink("Users", "Index", new { controller = "Users" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Messages", "Index", new { controller = "Messages" }, new { @class = "nav-link" })
    </li>

    }
</ul>
