@{
    ViewBag.Title = "Display Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        A confirmation email was sent to your email address. Please check and confirm your email and we'll welcome you back.
    </p>
</div>
