@using Possible.MessageWeb.Models.Identity
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Index";
}
<h3>Users</h3>
<ul class="list-group">
    @foreach (var user in Model)
    {
    <li class="list-group-item list-group-item-action">
        <span>@user.UserName (aka @user.FirstName @user.LastName)</span>
        <div class="float-right">
            <button type="button" class="btn btn-info" onclick="window.location='/messages/new?u=@user.UserName'">Message</button>
        </div>
    </li>
    }
</ul>